/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/@ng-select/ng-select/scss/default.theme.scss";
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
}
.t-clickable{
    td{
        color: $primary;
        cursor: pointer;
    }
    
}