<table class="table table-striped t-clickable">
    <thead>
      <tr>
        <th>
          #
        </th>
        <th>Fejl</th>
        <th>Oprettet</th>
        <th>Opretter</th>
        <th>Løst</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let incident of incidents;" (click)="goToIncident(incident.id)">
        <td>{{incident.id}}</td>
        <td>{{incident.header}} </td>
        <td>{{incident.created}}</td>
        <td>{{incident.createdBy.name}}</td>
        <td>
          <i [ngClass]="incident.active ? 'far fa-circle' : 'far fa-check-circle'"></i>
  
        </td>
      </tr>
    </tbody>
  </table>