<div class="col-md-12" *ngIf="incidents">
<div *ngIf="incidents.length == 0">
  <span>{{noResult}}</span>
</div>
<table class="table table-striped t-clickable" *ngIf="incidents.length > 0">
    <thead>
      <tr>
        <th>
          #
        </th>
        <th>Fejl</th>
        <th>Oprettet</th>
        <th>Opretter</th>
        <th>Tekniker</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let incident of incidents | paginate: { itemsPerPage: 10, currentPage: p }" (click)="goToIncident(incident.id)">
        <td>{{incident.id}}</td>
        <td>{{incident.header}} </td>
        <td>{{incident.created}}</td>
        <td>{{incident.createdBy.name}}</td>
        <td>
           <span *ngIf="incident.assignedTo">{{incident.assignedTo.name}}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls *ngIf="incidents.length > 10" (pageChange)="p = $event"></pagination-controls>
</div>