<nav class="col-md-2 pt-2 sidebar bg-light">
  <ul class="nav flex-column">
    <li class="nav-item">
      <span class="nav-link" href="" (click)="routeChange('/')">Dashboard</span>
    </li>
    <li>
      <span class="nav-link" href="" (click)="routeChange('/machine')" *ngIf="isTech">Maskiner</span>
      <ul>
        <li class="nav-item">
          <span class="nav-link" href="" (click)="routeChange('/machine/create')" *ngIf="isTech">Opret maskine</span>
        </li>
      </ul>
    </li>    
    <li>
      <span class="nav-link" href="" (click)="routeChange('/project')" *ngIf="isTech">Projekt</span>
      <ul>
        <li class="nav-item">
          <span class="nav-link" href="" (click)="routeChange('/project/create')" *ngIf="isTech">Opret projekt</span>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <span class="nav-link" href="" (click)="routeChange('/incident/create')">Opret fejlsag</span>
    </li>
  </ul>
  <ul class="nav flex-column" *ngIf="isAdmin">
    <li class="nav-item">
      <span class="nav-link" (click)="routeChange('/user/create')">Opret bruger</span>
    </li>
  </ul>
</nav>