  <nav class="sidebar">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/machine/create" *ngIf="isAOrT">Opret maskine</a>
          </li>
          <li>
              <a class="nav-link" href="/machine" *ngIf="isAOrT">Maskiner</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/incident/create">Opret fejlsag</a>
          </li>
        </ul>
        <ul class="nav flex-column" *ngIf="isAdmin">
            <li class="nav-item">
                <a class="nav-link" href="/user/create">Opret bruger</a>
              </li>
        </ul>
    </nav>