<div class="navbar-collapse-left">
  <nav id="sidebar" class="sidebar collapse nav-mobile bg-light" id="navbarToggleExternalContent">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/machine/create">Opret maskine</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/incident/create">Opret fejlsag</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="sidebar nav-desktop bg-light">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/machine/create">Opret maskine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/incident/create">Opret fejlsag</a>
          </li>
        </ul>
      </div>
    </nav>
</div>