<div class="row" *ngIf="update">
    <form [formGroup]="update" (ngSubmit)="updateMachine()">
    <div class="col-md-12 form-group" *ngIf="machine">
        <div class="mt-3">
            <input type="text" class="form-control" formControlName="name"/>
        </div>
        <div class="mt-3" *ngIf="locations">
            <ng-select [items]="locations" [addTag]="true" bindLabel="name" formControlName="location">                
            </ng-select>
        </div>
        <div class="mt-3">
            <button class="btn btn-primary" >
                Gem
            </button>
        </div>
    </div>
</form>
</div>