<div class="col-md-8">
  <form [formGroup]="create" (ngSubmit)="onSubmit()">
    <div class="form-group">
    <div class="col-md-6">
      <label for="name">Name</label>
      <input type="text" class="form-control mb-2" formControlName="name">
    </div>
    <div class="col-md-6">
      <label for="locationId">Location</label>
      <ng-select [items]="locations" bindLabel="name" formControlName="location"></ng-select>
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary mt-2">Opret</button>
    </div>
  </div>
  </form>
</div>