<div class="col-md-12" *ngIf="machines">
    <table class="table table-striped t-clickable">
      <thead>
        <th>
          #
        </th>
        <th>
          Maskine
        </th>
        <th>
          Lokation
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let machine of machines | paginate: { itemsPerPage: 10, currentPage: p }" (click)="goToMachine(machine.id)">
          <td>
            {{machine.id}}
          </td>
          <td>
            {{machine.name}}
          </td>
          <td *ngIf="machine.location">
            {{machine.location.name}}
          </td>
          <td *ngIf="!machine.location">
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls *ngIf="machines.length > 10" (pageChange)="p = $event"></pagination-controls>
  </div>