<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Incident Manager</a>
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
          </li>
        </ul>
</nav>
<div class="container-fluid">
<div class="row">

<nav class="col-md-2 mt-5 sidebar">
<app-main-menu></app-main-menu>
</nav>
<main class="col-md-9 col-lg-10">
<div class="col-md-12 m-5">

</div>
<div class="col-md-12">
<router-outlet></router-outlet>
</div>
</main>
</div>
</div>