<nav class="navbar navbar-dark bg-dark col-md-12">
  <div class="sticky-top col-md-12">
    <div class="row">
      <div class="col-md-9">
        <a class="navbar-brand " href="#">Incident Manager</a>
        <button class="navbar-toggler nav-mobile float-right" type="button" data-toggle="collapse"
            data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>         
      </div>
      <ul class="navbar-nav col-md-3 text-right nav-desktop">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="signOut()" [hidden]="!user">Sign out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <app-main-menu class="col-md-2 px-1" [hidden]="!user"></app-main-menu>
    <main role="main" class="col-md-10 mt-3">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>