@media only screen and (min-width: 768px) {
    .nav-mobile {
        display: none;
    }
}
@media only screen and (max-width: 570px) {
    main{
        margin-top: 40px;
    }
    .navbar-button{
        float:left;
    }
}